*.iml
*.ipr
*.iws
.gradle
build/
/var
/*/var/
/presto-product-tests/**/var/
test-output/
test-reports/
out/
/atlassian-ide-plugin.xml
.idea
.DS_Store
.classpath
.settings
.project
temp-testng-customsuite.xml
test-output
.externalToolBuilders
*~
benchmark_outputs
*.pyc
*.class
.checkstyle
.editorconfig
node_modules
schema-registry.log
schema_registry_*.gz
